<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Search!</title>
    <style>
      section {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Search Results!</h1>
    <h3>Found {{resultNumber}} jobs for: {{keyword}}</h3>
    <a href="/export?keyword={{keyword}}">Export to CSV</a>
    <section>
      <h4>회사</h4>
      <h4>채용</h4>
      <h4>지역</h4>
      <h4>링크</h4>
      {% for job in jobs %}
      <span>{{job.회사}}</span>
      <span>{{job.채용}}</span>
      <span>{{job.지역}}</span>
      <a href="{{job.링크}}" target="_blank">APPLY</a>
      {% endfor %}
    </section>
  </body>
</html>
